<!DOCTYPE html>
<html>
    <head>
        <title>Admin panel home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/jsgrid.min.css">
        <link rel="stylesheet" href="../css/jsgrid-theme.min.css"/>
        <link rel="stylesheet" href="../components/bootstrap3/css/bootstrap.min.css">
        <link rel="stylesheet" href="../components/bootstrap3/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="../css/bootstrap-select.min.css"/>
        <script type="text/javascript" src="../components/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="../components/bootstrap3/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../components/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="../components/jsgrid.min.js"></script>
        <script type="text/javascript" src="../components/q/q.js"></script>
        <script type="text/javascript" src="../js/controllers/gridController.js"></script>
        <script type="text/javascript" src="../js/controllers/calendarsController.js"></script>
        <script type="text/javascript" src="../js/controllers/adminController.js"></script>
        <script type="text/javascript" src="../js/helpers/gridFieldExtension.js"></script>
    </head>
    <body>

        <select class="form-control" title="Choose Hall..." id="halls">
        </select>
        <div class="container text-center"> 
            <br> <br>
            <button type="button" class="btn btn-success btn-md">Add new hall <span class="glyphicon glyphicon-plus"></span></button>
            <button type="button" class="btn btn-success btn-md">Back to events <span class="glyphicon glyphicon-arrow-left"></span></button>
        </div>
        <br> <br>
        <table id="jsGrid"></table>
        <script type="text/javascript" src="../js/gridApp.js"></script>
    </body>
</html>
